@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
html,body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
body
{
  background-color:#D2DAFF;
}
button.eq
{
  width:140px;
}
button.c1
{
  width:220px;
}
input [type="text"]
{
    color:#913dff;
    margin: 100px;

}
.text-center{
  text-align: center;
  color:#4700a3;
}
.mx-auto{
  margin: auto;
}
.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}
.items-center{
  align-items: center;
}
.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid #913dff;;
  border-radius: 4px;
  cursor: pointer;
  font-size : 23px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.row {
  margin: 8px 0;
}
.row input {
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid #4700a3;
  border-radius: 4px;
}
